@charset "utf-8";
/* CSS Document */

.navbar {
	background-color: #323C13 !important; 
}

.jumbotron {
	background-color: #323C13 !important;
}

.nav-link {
	color: #EDEAE4 !important; 
}

.btn {
	background-color: #FF8B00 !important;
}

.btn:active {
	background-color: #889600 !important;
}

.btn-outline-success {
	border-color: #FF8B00 !important; 
}

.btn-outline-success:active {
	border-color: #FF8B00 !important; 
}

.jumbotron {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/playing-football.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
	
}

.brand-name {
	color: #EDEAE4 !important; 
	font-size: 100px !important;
}

.brand-intro {
	color: #EDEAE4 !important;
}

.landing-page {
	background-color: aqua; 
	opacity: 0.5; 
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.about-us {
	color: #323C13; 
}

.card-text {
	font-size: 13px;
}

.carousel-control-next {
	opacity: 0; 
}

.carousel-control-prev {
	opacity: 0; 
}

.feedback-title {
	color: #EDEAE4;
}

.feedback-info {
	color: #EDEAE4;
}


.sc-about{
	background-color: #889600;

}
.sc-feedback{
	background-color: #889600;
}

section{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 100vh;
	width: 100%;
}
.card{
	border-radius:20px;
	overflow: hidden;
}

.jumbotron .content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

}
header .jumbotron {
	border-radius: 0 !important;
	margin-bottom: 0px;
}